<div class ="row">
  <div class ="col-md-8 col-md-offset-2">
  	<h3 style="text-align:center; color:#777;"><b>Add Viewl</b></h3>
  	<br>
    
  	  <%= form_for @viewel do |f| %>



  	  <div class = "form-group">
  	  <%= f.label :body, "Link" %>	
      <%= f.text_field :body, class: 'form-control', id: 'space'%>

      
      <div class="form-group">
        <%= f.label :title, "Title"%>
         <%= f.text_field :title, class: 'form-control' %>
       

      <% if current_user.role == 'member' %>
       <div class="checkbox">
        <%= f.label :body, "Private" %>
        <%= f.check_box :private %>
        <% end %>
      </div>
      </div>
      <br>
      
 
      
      <div class="form-group">
      	<div class="col-md-2 col-md-offset-5">
        <%= f.submit "Create Viewl", class: 'btn btn-success'%>
        <% end %>
      </div>
  </div>
  </div>
</div>
