
<!-->
<%# link_to 'Add viewels', new_viewel_path %>

<div class="row">
	<%# @viewels_public.each do |viewel| %>
  <div class="col-md-2">
	<%# link_to(image_tag('http://placehold.it/200x200'), viewel, class: 'thumbnail')%>
	  </div>
	<%# end %>

</div>

 <div class="row">
    
  <%# @viewels.each do |viewel| %>
   <div class="col-md-2">
    <%# link_to(image_tag('http://placehold.it/200x200'), viewel, class: 'thumbnail')%>
  </div>

<%# end %>
</div>

<div class="row"> 
  <%# @viewels_private.each do |viewel| %>
   <div class="col-md-2">
      <i class= "fa fa-dot-circle-o"></i>
	   <%# link_to(image_tag('http://placehold.it/200x200'), viewel, class: 'thumbnail') %>
	</div>
  <%# end %>
</div>

    
<div class="row">
  <%# @users.each do |user| %>
  <div class="col-md-4">
   <p><%# user.email %></p>
   <%# if current_user.following?(user) %>
     <%# link_to "Unfollow", unfollow_user_path(user) %>
   <%# else %>
     <%# link_to "Follow", follow_user_path(user) %>
   <%# end %>
</div>
   <%# end %>
</div>

<!-->
<h1>Chicken</h1>

<%= link_to 'Add viewel', new_viewel_path %>

<div class="row">
<h1>My viewels</h1>
<% @my_viewels.each do |viewel| %>
<div class="col-md-2">
  <%= link_to(image_tag('http://placehold.it/200x200'), viewel, class: 'thumbnail') %>
</div>
<% end %>
</div>

<div class="row">
<% @followed_viewels.each do |viewel| %>
<div class="col-md-2">
  <%= link_to(image_tag('http://placehold.it/200x200'), viewel, class: 'thumbnail') %>
</div>
<% end %>
</div>



<div class="row">
  <% @users.each do |user| %>
  <div class="col-md-4">
  	<p><%= user.email %></p>
   <% if current_user.following?(user) %>
     <%= link_to "Unfollow", unfollow_user_path(user) %>
   <% else %>
     <%= link_to "Follow", follow_user_path(user) %>
   <% end %>
</div>
   <% end %>
</div>

















